################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PostSharpTutorial/ConsoleExample/bin/Debug
/PostSharpTutorial/ConsoleExample/obj/Debug
/PostSharpTutorial/.vs/PostSharpTutorial/v14
/PostSharpTutorial/packages/PostSharp.4.2.18
*.suo
/PostSharpTutorial/LoggerAspect/bin/Debug
/PostSharpTutorial/LoggerAspect/obj/Debug
/PostSharpTutorial/packages/PostSharp.4.2.20/lib
/PostSharpTutorial/packages/PostSharp.4.2.20
/PostSharpTutorial/LoggerAspect.Nlog/obj/Debug
/PostSharpTutorial/packages/NLog.4.2.3
/PostSharpTutorial/LoggerAspect.Tests/bin/Debug
/PostSharpTutorial/LoggerAspect.Tests/obj/Debug
/PostSharpTutorial/packages/Moq.4.2.1510.2205
/PostSharpTutorial/packages/NUnit.3.0.1
/PostSharpTutorial/LoggerAspect.Nlog/bin/Debug
/PostSharpTutorial/.vs/config/applicationhost.config
/PostSharpTutorial/packages/FluentAssertions.4.2.2
/PostSharpTutorial/PostSharpTutorial.sln.DotSettings.user
/PostSharpTutorial/ConsoleExample/bin/Release
/PostSharpTutorial/ConsoleExample/obj/Release
/PostSharpTutorial/LoggerAspect/bin/Release
/PostSharpTutorial/LoggerAspect/obj/Release
/PostSharpTutorial/LoggerAspect.Nlog/bin/Release
/PostSharpTutorial/LoggerAspect.Nlog/obj/Release
/PostSharpTutorial/LoggerAspect.Tests/bin/Release
/PostSharpTutorial/LoggerAspect.Tests/obj/Release
/PostSharpImp/Aspects.Logging/obj/Debug
/PostSharpImp/Aspects.Logging/bin/Debug
/PostSharpImp/Aspects.Logging/packages/FluentAssertions.4.6.3
/PostSharpImp/Aspects.Logging/packages/NUnit.3.0.1
/PostSharpImp/Aspects.Logging/Aspects.Logging.csproj.user
/PostSharpImp/Aspects.Logging/Aspects.Logging.sln.DotSettings.user
/PostSharpImp/Aspects.Logging.Tests/bin/Debug
/PostSharpImp/Aspects.Logging.Tests/obj/Debug
/PostSharpImp/Aspects.Logging/packages/PostSharp.4.2.27
/PostSharpImp/Aspects.Logging.Nlog/bin/Debug
/PostSharpImp/Aspects.Logging.Nlog/obj/Debug
/PostSharpImp/packages/FluentAssertions.4.6.3
/PostSharpImp/packages/NLog.4.3.4
/PostSharpImp/packages/NUnit.3.0.1
/PostSharpImp/packages/PostSharp.4.2.27
/PostSharpImp/Aspects.Logging.sln.DotSettings.user
/PostSharpImp/Aspects.Logging.sln.DotSettings
/PostSharpImp/Aspects.Logging/Aspects.Logging.csproj.DotSettings
/PostSharpImp/Aspects.Logging.NLog.Tests/bin/Debug
/PostSharpImp/Aspects.Logging.NLog.Tests/obj/Debug
/PostSharpImp/Aspects.Logging.Tests.Commons/bin/Debug
/PostSharpImp/Aspects.Logging.Tests.Commons/obj/Debug
/PostSharpImp/packages/FluentAssertions.4.9.0
/PostSharpImp/packages/NLog.4.3.5
/PostSharpImp/packages/NUnit.3.2.1
/PostSharpImp/packages/PostSharp.4.2.28
/PostSharpImp/Aspects.Logging.Tests.Commons2/bin/Debug
/PostSharpImp/Aspects.Logging.Tests.Commons2/obj/Debug
